<!DOCTYPE html>
<html>
  <head>
    <title>Api</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
  <!-- beginning of new code -->
  <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="#" class="brand-logo center">Tools</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'Main', '/' %></li>
        <li><%= link_to 'Youtube Downloads', '/youtube' if current_user %></li>
      </ul>
    </div>
  </nav>
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <a href="#name"><span class=" name"><%= current_user&.username %></span></a>
      <a href="#email"><span class="email"><%= current_user&.email %></span></a>
    </div></li>
    <li><a href="/youtube"><i class="material-icons">videocam</i>Youtube Video</a></li>
  </ul>

  <!-- end of new code -->

  <div class="container">  <!-- newly added code -->
    <%= yield %>
  </div>                   <!-- newly added code -->
  </body>
</html>
